<a href="https://colab.research.google.com/github/Eronnn911/BSIS3/blob/main/CuetoAierone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Eronnn911/BSIS3/refs/heads/main/cars_dataset.csv')

In [ ]:
print ("Original row count", len(df))

Original row count 55

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Brand   54 non-null     object
 1   Model   52 non-null     object
 2   Year    55 non-null     int64
 3   Color   55 non-null     object
 4   Price   54 non-null     float64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.3+ KB

In [ ]:
print(df)

         Brand     Model  Year   Color    Price
0       Toyota  3 Series  2022    Gray  32557.0
1      Hyundai     Civic  2017   White  46775.0
2        Honda   C-Class  2023   Green   9090.0
3       Nissan  3 Series  2002  Yellow  21856.0
4       Nissan  3 Series  2011   Green  43414.0
5   Volkswagen   Corolla  2003  Yellow  33187.0
6          BMW   Elantra  2021    Gray  16524.0
7          Kia   Corolla  2003    Blue  47756.0
8     Mercedes     Cruze  2008   Black  16028.0
9          Kia   C-Class  2004   Black  38122.0
10   Chevrolet     Focus  2003   Green  42981.0
11      Toyota     Cruze  2021  Yellow  30361.0
12      Nissan   Corolla  2016   White   5772.0
13     Hyundai  3 Series  2003     Red  20696.0
14         NaN   Elantra  2001    Gray  30196.0
15         BMW     Focus  2021   Black  31762.0
16  Volkswagen   C-Class  2013  Yellow  39039.0
17   Chevrolet     Civic  2009    Gray   7826.0
18   Chevrolet  Sportage  2003  Silver      NaN
19       Honda       NaN  2005   Black  29965.0
20      Nissan  3 Series  2013  Silver  22915.0
21      Toyota   C-Class  2008   Green  38806.0
22        Ford  3 Series  2020   Green  37639.0
23        Ford     Civic  2020   Black  21638.0
24         BMW   C-Class  2023   White  25289.0
25      Nissan    Altima  2013    Blue  17078.0
26   Chevrolet      Golf  2007   Green   6719.0
27         Kia    Altima  2015     Red  43146.0
28      Nissan    Altima  2013    Gray  42541.0
29    Mercedes   C-Class  2018   Black  37136.0
30      Toyota     Civic  2021     Red  45124.0
31         BMW    Altima  2006  Yellow  44944.0
32         BMW  3 Series  2006   White  10836.0
33      Toyota   Corolla  2020    Gray  32753.0
34   Chevrolet     Cruze  2012   Black   7127.0
35         Kia   Corolla  2003   White  20294.0
36   Chevrolet      Golf  2001    Gray  19411.0
37        Ford   Corolla  2008    Blue  33849.0
38         Kia     Focus  2014  Silver  10819.0
39    Mercedes     Focus  2018     Red  37686.0
40        Ford     Cruze  2018  Silver  20359.0
41    Mercedes    Altima  2006  Yellow  13897.0
42         Kia     Civic  2003  Yellow  40344.0
43  Volkswagen   C-Class  2011     Red  24007.0
44     Hyundai  Sportage  2020    Gray  48900.0
45      Nissan       NaN  2014    Gray  31041.0
46      Nissan       NaN  2009  Yellow  26243.0
47    Mercedes  Sportage  2007    Gray  33526.0
48      Toyota  3 Series  2001    Blue  27437.0
49   Chevrolet  3 Series  2000  Yellow  37413.0
50      Nissan    Altima  2013    Blue  17078.0
51        Ford     Civic  2020   Black  21638.0
52         BMW    Altima  2006  Yellow  44944.0
53   Chevrolet     Focus  2003   Green  42981.0
54       Honda   C-Class  2023   Green   9090.0

In [ ]:
print (df[df.isnull().any(axis=1)])

        Brand     Model  Year   Color    Price
14        NaN   Elantra  2001    Gray  30196.0
18  Chevrolet  Sportage  2003  Silver      NaN
19      Honda       NaN  2005   Black  29965.0
45     Nissan       NaN  2014    Gray  31041.0
46     Nissan       NaN  2009  Yellow  26243.0

In [ ]:
print(df.isnull().sum())

Brand    1
Model    3
Year     0
Color    0
Price    1
dtype: int64

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df["Brand"] = df["Brand"]. fillna(df["Brand"].mode()[0])

In [ ]:
df["Brand"] = pd.to_numeric(df["Brand"], errors = 'coerce')

In [ ]:
print(df)

    Brand     Model  Year   Color    Price
0     NaN  3 Series  2022    Gray  32557.0
1     NaN     Civic  2017   White  46775.0
2     NaN   C-Class  2023   Green   9090.0
3     NaN  3 Series  2002  Yellow  21856.0
4     NaN  3 Series  2011   Green  43414.0
5     NaN   Corolla  2003  Yellow  33187.0
6     NaN   Elantra  2021    Gray  16524.0
7     NaN   Corolla  2003    Blue  47756.0
8     NaN     Cruze  2008   Black  16028.0
9     NaN   C-Class  2004   Black  38122.0
10    NaN     Focus  2003   Green  42981.0
11    NaN     Cruze  2021  Yellow  30361.0
12    NaN   Corolla  2016   White   5772.0
13    NaN  3 Series  2003     Red  20696.0
14    0.0   Elantra  2001    Gray  30196.0
15    NaN     Focus  2021   Black  31762.0
16    NaN   C-Class  2013  Yellow  39039.0
17    NaN     Civic  2009    Gray   7826.0
18    NaN  Sportage  2003  Silver      0.0
19    NaN         0  2005   Black  29965.0
20    NaN  3 Series  2013  Silver  22915.0
21    NaN   C-Class  2008   Green  38806.0
22    NaN  3 Series  2020   Green  37639.0
23    NaN     Civic  2020   Black  21638.0
24    NaN   C-Class  2023   White  25289.0
25    NaN    Altima  2013    Blue  17078.0
26    NaN      Golf  2007   Green   6719.0
27    NaN    Altima  2015     Red  43146.0
28    NaN    Altima  2013    Gray  42541.0
29    NaN   C-Class  2018   Black  37136.0
30    NaN     Civic  2021     Red  45124.0
31    NaN    Altima  2006  Yellow  44944.0
32    NaN  3 Series  2006   White  10836.0
33    NaN   Corolla  2020    Gray  32753.0
34    NaN     Cruze  2012   Black   7127.0
35    NaN   Corolla  2003   White  20294.0
36    NaN      Golf  2001    Gray  19411.0
37    NaN   Corolla  2008    Blue  33849.0
38    NaN     Focus  2014  Silver  10819.0
39    NaN     Focus  2018     Red  37686.0
40    NaN     Cruze  2018  Silver  20359.0
41    NaN    Altima  2006  Yellow  13897.0
42    NaN     Civic  2003  Yellow  40344.0
43    NaN   C-Class  2011     Red  24007.0
44    NaN  Sportage  2020    Gray  48900.0
45    NaN         0  2014    Gray  31041.0
46    NaN         0  2009  Yellow  26243.0
47    NaN  Sportage  2007    Gray  33526.0
48    NaN  3 Series  2001    Blue  27437.0
49    NaN  3 Series  2000  Yellow  37413.0
50    NaN    Altima  2013    Blue  17078.0
51    NaN     Civic  2020   Black  21638.0
52    NaN    Altima  2006  Yellow  44944.0
53    NaN     Focus  2003   Green  42981.0
54    NaN   C-Class  2023   Green   9090.0

In [ ]:
df_drop_rows = df.dropna()

In [ ]:
print (df[df.isnull().any(axis=1)])

    Brand     Model  Year   Color    Price
0     NaN  3 Series  2022    Gray  32557.0
1     NaN     Civic  2017   White  46775.0
2     NaN   C-Class  2023   Green   9090.0
3     NaN  3 Series  2002  Yellow  21856.0
4     NaN  3 Series  2011   Green  43414.0
5     NaN   Corolla  2003  Yellow  33187.0
6     NaN   Elantra  2021    Gray  16524.0
7     NaN   Corolla  2003    Blue  47756.0
8     NaN     Cruze  2008   Black  16028.0
9     NaN   C-Class  2004   Black  38122.0
10    NaN     Focus  2003   Green  42981.0
11    NaN     Cruze  2021  Yellow  30361.0
12    NaN   Corolla  2016   White   5772.0
13    NaN  3 Series  2003     Red  20696.0
15    NaN     Focus  2021   Black  31762.0
16    NaN   C-Class  2013  Yellow  39039.0
17    NaN     Civic  2009    Gray   7826.0
18    NaN  Sportage  2003  Silver      0.0
19    NaN         0  2005   Black  29965.0
20    NaN  3 Series  2013  Silver  22915.0
21    NaN   C-Class  2008   Green  38806.0
22    NaN  3 Series  2020   Green  37639.0
23    NaN     Civic  2020   Black  21638.0
24    NaN   C-Class  2023   White  25289.0
25    NaN    Altima  2013    Blue  17078.0
26    NaN      Golf  2007   Green   6719.0
27    NaN    Altima  2015     Red  43146.0
28    NaN    Altima  2013    Gray  42541.0
29    NaN   C-Class  2018   Black  37136.0
30    NaN     Civic  2021     Red  45124.0
31    NaN    Altima  2006  Yellow  44944.0
32    NaN  3 Series  2006   White  10836.0
33    NaN   Corolla  2020    Gray  32753.0
34    NaN     Cruze  2012   Black   7127.0
35    NaN   Corolla  2003   White  20294.0
36    NaN      Golf  2001    Gray  19411.0
37    NaN   Corolla  2008    Blue  33849.0
38    NaN     Focus  2014  Silver  10819.0
39    NaN     Focus  2018     Red  37686.0
40    NaN     Cruze  2018  Silver  20359.0
41    NaN    Altima  2006  Yellow  13897.0
42    NaN     Civic  2003  Yellow  40344.0
43    NaN   C-Class  2011     Red  24007.0
44    NaN  Sportage  2020    Gray  48900.0
45    NaN         0  2014    Gray  31041.0
46    NaN         0  2009  Yellow  26243.0
47    NaN  Sportage  2007    Gray  33526.0
48    NaN  3 Series  2001    Blue  27437.0
49    NaN  3 Series  2000  Yellow  37413.0
50    NaN    Altima  2013    Blue  17078.0
51    NaN     Civic  2020   Black  21638.0
52    NaN    Altima  2006  Yellow  44944.0
53    NaN     Focus  2003   Green  42981.0
54    NaN   C-Class  2023   Green   9090.0

In [ ]:
print(df)

    Brand     Model  Year   Color    Price
0     NaN  3 Series  2022    Gray  32557.0
1     NaN     Civic  2017   White  46775.0
2     NaN   C-Class  2023   Green   9090.0
3     NaN  3 Series  2002  Yellow  21856.0
4     NaN  3 Series  2011   Green  43414.0
5     NaN   Corolla  2003  Yellow  33187.0
6     NaN   Elantra  2021    Gray  16524.0
7     NaN   Corolla  2003    Blue  47756.0
8     NaN     Cruze  2008   Black  16028.0
9     NaN   C-Class  2004   Black  38122.0
10    NaN     Focus  2003   Green  42981.0
11    NaN     Cruze  2021  Yellow  30361.0
12    NaN   Corolla  2016   White   5772.0
13    NaN  3 Series  2003     Red  20696.0
14    0.0   Elantra  2001    Gray  30196.0
15    NaN     Focus  2021   Black  31762.0
16    NaN   C-Class  2013  Yellow  39039.0
17    NaN     Civic  2009    Gray   7826.0
18    NaN  Sportage  2003  Silver      0.0
19    NaN         0  2005   Black  29965.0
20    NaN  3 Series  2013  Silver  22915.0
21    NaN   C-Class  2008   Green  38806.0
22    NaN  3 Series  2020   Green  37639.0
23    NaN     Civic  2020   Black  21638.0
24    NaN   C-Class  2023   White  25289.0
25    NaN    Altima  2013    Blue  17078.0
26    NaN      Golf  2007   Green   6719.0
27    NaN    Altima  2015     Red  43146.0
28    NaN    Altima  2013    Gray  42541.0
29    NaN   C-Class  2018   Black  37136.0
30    NaN     Civic  2021     Red  45124.0
31    NaN    Altima  2006  Yellow  44944.0
32    NaN  3 Series  2006   White  10836.0
33    NaN   Corolla  2020    Gray  32753.0
34    NaN     Cruze  2012   Black   7127.0
35    NaN   Corolla  2003   White  20294.0
36    NaN      Golf  2001    Gray  19411.0
37    NaN   Corolla  2008    Blue  33849.0
38    NaN     Focus  2014  Silver  10819.0
39    NaN     Focus  2018     Red  37686.0
40    NaN     Cruze  2018  Silver  20359.0
41    NaN    Altima  2006  Yellow  13897.0
42    NaN     Civic  2003  Yellow  40344.0
43    NaN   C-Class  2011     Red  24007.0
44    NaN  Sportage  2020    Gray  48900.0
45    NaN         0  2014    Gray  31041.0
46    NaN         0  2009  Yellow  26243.0
47    NaN  Sportage  2007    Gray  33526.0
48    NaN  3 Series  2001    Blue  27437.0
49    NaN  3 Series  2000  Yellow  37413.0
50    NaN    Altima  2013    Blue  17078.0
51    NaN     Civic  2020   Black  21638.0
52    NaN    Altima  2006  Yellow  44944.0
53    NaN     Focus  2003   Green  42981.0
54    NaN   C-Class  2023   Green   9090.0

In [ ]:
print(df.isnull().sum())

Brand    54
Model     0
Year      0
Color     0
Price     0
dtype: int64

In [ ]:
print (df[df.isnull().any(axis=1)])

    Brand     Model  Year   Color    Price
0     NaN  3 Series  2022    Gray  32557.0
1     NaN     Civic  2017   White  46775.0
2     NaN   C-Class  2023   Green   9090.0
3     NaN  3 Series  2002  Yellow  21856.0
4     NaN  3 Series  2011   Green  43414.0
5     NaN   Corolla  2003  Yellow  33187.0
6     NaN   Elantra  2021    Gray  16524.0
7     NaN   Corolla  2003    Blue  47756.0
8     NaN     Cruze  2008   Black  16028.0
9     NaN   C-Class  2004   Black  38122.0
10    NaN     Focus  2003   Green  42981.0
11    NaN     Cruze  2021  Yellow  30361.0
12    NaN   Corolla  2016   White   5772.0
13    NaN  3 Series  2003     Red  20696.0
15    NaN     Focus  2021   Black  31762.0
16    NaN   C-Class  2013  Yellow  39039.0
17    NaN     Civic  2009    Gray   7826.0
18    NaN  Sportage  2003  Silver      0.0
19    NaN         0  2005   Black  29965.0
20    NaN  3 Series  2013  Silver  22915.0
21    NaN   C-Class  2008   Green  38806.0
22    NaN  3 Series  2020   Green  37639.0
23    NaN     Civic  2020   Black  21638.0
24    NaN   C-Class  2023   White  25289.0
25    NaN    Altima  2013    Blue  17078.0
26    NaN      Golf  2007   Green   6719.0
27    NaN    Altima  2015     Red  43146.0
28    NaN    Altima  2013    Gray  42541.0
29    NaN   C-Class  2018   Black  37136.0
30    NaN     Civic  2021     Red  45124.0
31    NaN    Altima  2006  Yellow  44944.0
32    NaN  3 Series  2006   White  10836.0
33    NaN   Corolla  2020    Gray  32753.0
34    NaN     Cruze  2012   Black   7127.0
35    NaN   Corolla  2003   White  20294.0
36    NaN      Golf  2001    Gray  19411.0
37    NaN   Corolla  2008    Blue  33849.0
38    NaN     Focus  2014  Silver  10819.0
39    NaN     Focus  2018     Red  37686.0
40    NaN     Cruze  2018  Silver  20359.0
41    NaN    Altima  2006  Yellow  13897.0
42    NaN     Civic  2003  Yellow  40344.0
43    NaN   C-Class  2011     Red  24007.0
44    NaN  Sportage  2020    Gray  48900.0
45    NaN         0  2014    Gray  31041.0
46    NaN         0  2009  Yellow  26243.0
47    NaN  Sportage  2007    Gray  33526.0
48    NaN  3 Series  2001    Blue  27437.0
49    NaN  3 Series  2000  Yellow  37413.0
50    NaN    Altima  2013    Blue  17078.0
51    NaN     Civic  2020   Black  21638.0
52    NaN    Altima  2006  Yellow  44944.0
53    NaN     Focus  2003   Green  42981.0
54    NaN   C-Class  2023   Green   9090.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Brand   1 non-null      float64
 1   Model   55 non-null     object
 2   Year    55 non-null     int64
 3   Color   55 non-null     object
 4   Price   55 non-null     float64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.3+ KB